// Colors
$clr1: #64748b;
$clr2: #334155;
$clr3: #e5e7eb;
$clr4: #1d4ed8;
$clr5: #2563eb;
$clr6: #f87171;
$clr7: #0ea5e9;
$clr8: #ffff;
$clr9: #3b82f6;
$clr10: #d1d4f9;
$clr11: #44b700;
$clr12: #dcf8c6;
$clr13: #d9d9d9;
$clr14: rgba(0, 0, 0, 0.54);
$clr15: #668fbb;
$clr16: #4b5563;
$clr17: #374151;
$clr18: #919fb7;
$clr19: #111827;
$clr20: rgb(241, 245, 241);

// Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$small-desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1280px;
$wide-desktop-breakpoint: 1440px;
