@import "../../assets/styles/setup/setup";

.self-message-container {
  display: flex;
  justify-content: flex-end;
}
.self-message-box {
  display: flex;
  flex-direction: column;
  background-color: $clr12;
  width: max-content;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  gap: 5px;
  max-width: 300px;
  line-height: 1.2;
}

.self-message-timeStamp {
  align-self: flex-end;
  font-size: 0.75rem;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
